img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-top: 20px;
    margin-left: 30px;
}

.col-2 img {
    margin-left: 10px;
    width: 180px;
    height: 180px;
    border-radius: 0px;
}